

#demo {
  background-image: url('https://ic.c4assets.com/brands/rick-and-morty/25061866-e35b-405b-9cb4-cb71748e9592.jpg?interpolation=progressive-bicubic&output-format=jpeg&output-quality=90{&resize}');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  transition: 0.5s;
}

.animateClass {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:all 1500ms ease-in-out;
  z-index: 10;
}

.char-modal {
  position: fixed;
  min-width: 500px;
  min-height: 700px;
  background-color: red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}